@model ChangePasswordViewModel

<h2>Change Password</h2>


@if (TempData["ChangePasswordSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["ChangePasswordSuccess"]
    </div>
}

@if (TempData["ChangePasswordError"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ChangePasswordError"]
    </div>
}

<style>
    .account-info-link {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 8px 16px; 
        background-color: #387cb4;
        color: #fff; 
        border-radius: 4px; 
    }

    .account-info-link:hover {
            background-color: #306494; 
    }
</style>
<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label asp-for="CurrentPassword">Current Password</label>
        <input asp-for="CurrentPassword" class="form-control" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm New Password</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
    <a asp-controller="Home" asp-action="AccountInformation" class="account-info-link">Account Info</a>

</form>
